[Desktop Entry]
Version=1.0
Name=DRS_WX
Comment=Запуск скрипта DRS_WX
Exec=bash -c "bash /home/a/scripts/nn_start"
Icon=/home/a/homer.png
Terminal=false
Type=Application
Categories=Utility;

